@{
    Layout = "_Layout";
    
    ViewBag.Page = "About";
        
    // Define variable profile variables
    var name = "Omar McIntosh";
    var stuNumber = "101032428";
    var courseCode = "COMP 2139";
    var sectionCode = "50272";   // CRN
}

<div>
    <h1 class="page-title display-4 text-center">@ViewBag.Page</h1>
    
    <h2>In-Class Assignment</h2>
    <table id="about">
        <tr>
            <td class="fw-bold"><strong>Name:</strong></td>
            <td class="value">@name</td>
        </tr>
        <tr>
            <td class="fw-bold">Student Number:</td>
            <td class="value">@stuNumber</td>
        </tr>
        <tr>
            <td class="fw-bold">Course Code:</td>
            <td class="value">@courseCode</td>
        </tr>
        <tr>
            <td class="fw-bold">Section:</td>
            <td class="value">@sectionCode</td>
        </tr>
    </table>
</div>