@model Project

@{
    Layout = "_Layout";
    
    ViewBag.Page = "Delete Project";
}

<div id="majestic-view">
    <h2>@Model.Name</h2>
    
    <div id="majestic-view-dt">
        <dl>
            @* <dt class=""> *@
            @*     @Html.DisplayNameFor(model => model.Name) *@
            @* </dt> *@
            @* <dd class=""> *@
            @*     @Html.DisplayFor(model => model.Name) *@
            @* </dd> *@
            <dt class="">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="">
                @Html.DisplayFor(model => model.Description)
            </dd>
        </dl>

        <form id="majestic-form" asp-action="Delete" method="post">
            @* Hidden field sends related ProjectId with form data *@
            @Html.HiddenFor(model => model.ProjectId)
            <div class="majestic-form-buttons">
                <input type="submit" value="Delete" class="button button-delete">
                <a asp-action="Index" class="button button-primary">Cancel</a>
            </div>
            <span class="confirm-delete">Are you sure you want to delete this project?</span>
        </form>
    </div>
</div>