@model Project

@{
    Layout = "_Layout";

    ViewBag.Page = "Project Details";
}

<div id="majestic-view">
    @* Check for existence of a database *@
    @try
    {
        <h2>@Model.Name</h2>

        <dl id="majestic-view-dt">
            <dt class="">Project ID:</dt>
            <dd class="">@Model.ProjectId</dd>

            <dt class="">Description:</dt>
            <dd class="">@Model.Description</dd>

            <dt class="">Start Date:</dt>
            <dd class="">@Model.StartDate.ToShortDateString()</dd>

            <dt class="">End Date:</dt>
            <dd class="">@Model.EndDate.ToShortDateString()</dd>

            <dt class="">Status:</dt>
            <dd class="">@Model.Status</dd>
        </dl>


        <a asp-controller="Project" asp-action="Index" class="button button-primary">Back to Projects</a>
    }
    catch (NullReferenceException)
    {
        <p class="not-found-db">Database not detected.  Please try again later.</p>
        <br/>
        <a asp-action="Index" class="button button-primary">Back to Projects</a>
    }
    catch (Exception)
    {
        <p class="not-found-fatal">Project currently unavailable.  Please try again later.</p>
        <br/>
        <a asp-action="Index" class="button button-primary">Back to Projects</a>
    }
    
    <div id="majestic-view-project-comment">   <!-- Currently not styling for this id -->
        <h3>Comments</h3>
        
        <div id="comment-list" class="comments-container">   <!-- Currently no styling for this class -->
            <!-- Comments will be loaded here using jQuery/AJAX -->
        </div>
        
        <form id="add-comment-form" class="">   <!-- Currently no styling for this id -->
            <input type="hidden" name="ProjectId" value="@Model.ProjectId" />
            <div class="">
                <textarea name="Content" class="" placeholder="Add a comment..."></textarea>
            </div>
            <button type="submit" class="button button-create">Post a Comment</button>
        </form>
        
    </div>
</div>

@section Scripts {
    <script src="~/js/projectComment.js"></script>
    <script>
        $(document).ready(function() {
            // Changed var to const here (in case of debugging)
            const projectId = $('#project-comments input[name="ProjectId"]').val();            
            loadComments(projectId);
        });
    </script>
}