@model ProjectTask

@{
    Layout = "_Layout";
    
    ViewBag.Page = "Delete Task";
}

<div id="majestic-view">
    <h2>Useful Title</h2>
    <dl id="majestic-view-dt">
        <dt class="">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>

    <form id="majestic-form" asp-action="Delete" method="post">
        <div class="majestic-form-buttons">
            @* Hidden field sends related ProjectId with form data *@
            @Html.HiddenFor(model => model.ProjectTaskId)
            <input type="submit" value="Delete" class="button button-delete">
            <a asp-action="Index" asp-route-projectId="@Model.ProjectId" class="button button-primary">Cancel</a>
        </div>
        <span class="confirm-delete">Are you sure you want to delete this task?</span>
    </form>
</div>